body{
    margin:0;
    padding: 0;
    font-family: "Poppins";
}
img{
    max-width: 100%;
}
.nav-content{
    background-color: #151515;
    color: #FFFF;
    display: flex;
    flex-direction: column;
}
.navbar {
    margin: 2px 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.logo {
    width: 90px;
}
.items {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-weight: 200;
}

.button-container {
    width: 13%;
    display: flex;
    align-items: center;
}

.langauge {
    font-weight: 200;
}
.btn{
    margin-left: 25%;
    background-image: url('./Assets/Icons/btn-pink-bg.svg');
    background-color: #151515;
    border: none;
    background-repeat: no-repeat;
    background-position-x:left;
    color: #FFFF;
    font-weight: 200;
    font-size: medium;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    height: 90vh;
    margin-left:55px;
}

.heading {
    padding-right: 36%;
    font-size: 70px;
    font-family: 'Montserrat' ;
    font-weight: 400;
}

.paragraph {
    padding-right:62% ;
    font-weight: 200;
}

.hero-button{
    display: flex;
    flex-direction: row;
    margin: 4% 0% 4% 0%;
}

.hero-btn {
    background-image: url('./Assets/Icons/btn-pink-bg.svg');
    background-color: #151515;
    border: none;
    background-repeat: no-repeat;
    background-position-x:left;
    color: #FFFF;
    font-weight: 200;
    font-size: medium;
    padding: 0% 2% 0% 2%;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
}
.analysis {
    display: flex;
    align-items: center;
}

.active-user{
    width: 7%;
    font-size: 35px;
    font-weight: 400;
}
.experience-user{
    width: 7%;
    font-size: 35px;
    font-weight: 400;
}

.active-message{
    width: 8%;
    font-size: 16px;
    font-weight: 300;
}
.experience-message{
    width: 8%;
    font-size: 16px;
    font-weight: 300;
}

.vector{
    width: 0.1%;
    margin:0px 30px 0px 20px;
}

.plus {
    color: #F637EC;
    font-size: 30px;
}

.front-card {
    position: absolute;
    width: 51%;
    left: 42%;
}

.back-card{
    position: absolute;
    width: 51%;
    left: 30%;
    top: 1%;
}

.logo-container{
    height: 20vh;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-logo {    
    width: 15%;
}

.sevice {
    background-color: #151515;
    height: 100vh;
    color: #FFFF;
    display: flex;
    flex-direction: column;
}

.service-text {
    display: flex;
    justify-content: space-between;
    margin:2px 55px;
    align-items: center;
}

.left-side-text{
    width: 60%;
}

.left-text {
    font-size: 70px;
    font-weight: 400;
    font-family:'Montserrat';
}

.transitions{
    color:#F637EC;
}
.right-text {
    font-size: 22px;
    font-weight: 300;
    color: #6C6C6C;
}

.right-side-text{
    width: 50%;
}
.service-cards {
    display: flex;
}